node_modules/
**/node_modules/

.env
.env.*
!.env.example
!.env.production
**/.env
**/.env.*
!**/.env.example
!**/.env.production

dist/
**/dist/

.venv/
venv/
__pycache__/
*.pyc

libretranslate-env/
